
body {

  margin:0;
  font-family: 'Alata', sans-serif;

  }

h1 {
  font-size: 4em;
  margin-top: 0px;
  margin-bottom:20px;
  font-weight: 400;

}

h2 {
  font-size: 3.1em;
  margin-top: 0px;
  margin-bottom:20px;
  font-weight: 400;
line-height:1.2;
}

h2.leistungen {
margin-top: 120px;
  text-align:center;
  margin-bottom: 80px;

}

h3 {
  font-size: 2em;
  margin:10px 0;
}

h4 {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  color:#303030;
  font-weight: 400;
  line-height: 32px;
}
