
.footer {
  width:100%;
  background-color: #101010;
  padding:20px 0;
}



#footer {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


#footer .content-col-75 img {
  width: 180px;
}

.content-row-ft {
display:flex;
padding: 5px 0;
}

.content-col-75 {
  width:75%;
  text-align: left;
}

.content-col-25 {
  width:35%;
  text-align: left;
}

.content-col-75 {
  width:65%;
  text-align: left;
}

.content-col-menu {
  width:35%;
  text-align: right;
}

.content-col-menu a {


}


.content-col-25 img {
  height:auto;
  width:100%;
}

.content-col-75 p {
  margin-bottom: 50px;
  margin-top: 40px;
}

.content-col-75 a.button {
  background-color: #f2f2f2;
  padding: 12px 16px ;
  font-size: 16px;
    text-transform: uppercase;
    color: #000000;
}

.footer-menu {
  margin-top: 15px;

}
.footer-menu a {
    color:#fff;
    margin-left: 30px;
    font-weight: 400;
}
