#modalform form {
  width:100%;
  margin-top: 40px;
}

#modalform input,
#modalform select,
#modalform textarea {
  background-color: rgba(0,0,0,0);
  border:2px solid #000;
  border-radius: 0px;
  font-size: 16px;
  padding: 11px 15px;
  margin-bottom: 15px;
}

#modalform input,
#modalform textarea {
  width:85%;
}

#modalform input[type=email]  {
  width:40%;
}

#modalform select  {
  width:43%;
    padding: 10px 15px !important;
}

::placeholder {
  color:#333;

}

#modalform button {
  background-color: #101010;
  padding: 13px 15px;
  font-size: 16px;
  margin-top: 0;
    text-transform: uppercase;
    color: #ECE13B;
    border:0px;
    font-family: 'Alata', sans-serif;
  }

  button:hover {
    cursor: pointer;
}

.success {
  display: none;
  color: #000;
  padding: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.success.is-active {
  display: inline-block;
}
